# 1.2. Getting started with exploratory data analysis in the Jupyter Notebook

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
df = pd.read_csv('VoterRegOpenData.csv',sep=',' , encoding='latin-1', skiprows =10)

In [22]:
df.describe()

,VUIDNO,VRCNUM,PCTCOD,EDRDAT,BLKNUM,RZIPCD,REFDAT,MZIPCD,MCHGDT,DIST21
count,7.350980e+05,7.350980e+05,735098.000000,7.350980e+05,735098.000000,7.350980e+05,7.350980e+05,7.350980e+05,7.350980e+05,0.0
mean,1.335214e+09,2.025651e+07,285.041097,2.006623e+07,5762.620346,7.872249e+08,2.009427e+07,7.838112e+08,2.010953e+07,NaN
std,3.804694e+08,3.679620e+07,107.710535,1.101735e+05,4975.253229,4.382466e+05,3.417427e+05,4.926688e+07,7.726631e+04,NaN
min,1.000001e+09,2.000000e+00,101.000000,1.940013e+07,1.000000,7.657400e+08,0.000000e+00,0.000000e+00,1.940010e+07,NaN
25%,1.133256e+09,5.703768e+05,208.000000,2.001031e+07,1748.000000,7.870400e+08,2.008040e+07,7.870400e+08,2.008071e+07,NaN
50%,1.154601e+09,8.649625e+05,306.000000,2.011090e+07,4400.000000,7.873400e+08,2.014081e+07,7.873400e+08,2.014091e+07,NaN
75%,1.211995e+09,1.081039e+06,366.000000,2.015112e+07,8800.000000,7.874800e+08,2.016100e+07,7.874800e+08,2.016092e+07,NaN
max,2.143189e+09,9.904403e+07,799.000000,2.018041e+07,29811.000000,1.000000e+09,2.018032e+07,1.000000e+09,2.018022e+07,NaN

In [26]:
# print smaple from the data frame randomly
df.sample(10)

,VUIDNO,VRCNUM,PCTCOD,EDRDAT,GENDER,LSTNAM,NAMPFX,FSTNAM,MIDNAM,BLKNUM,...,DIST14,DIST15,DIST16,DIST17,DIST18,DIST19,DIST20,DIST21,DIST22,SUPRES
508335,1214936904,836674,461,20141113,M,COHEN,NaN,DAVID,SAMUEL,1700,...,NaN,NaN,B05,ALL,ACC,CA5,NaN,NaN,NaN,N
509620,1215156930,838344,420,20141206,M,HALLEE,NaN,CONNOR,HAMILTON,3300,...,NaN,NaN,B05,ALL,ACC,CA3,NaN,NaN,NaN,N
490884,1213103057,813158,421,20141007,M,OBERDORFER,NaN,CHRISTOPHER,FALK,1007,...,NaN,NaN,B05,ALL,ACC,CA9,NaN,NaN,NaN,N
126290,1149846852,422367,109,20080304,M,BERRY,NaN,LUIS,MITCHELL,2111,...,NaN,NaN,B10,ALL,ACC,CA7,NaN,NaN,NaN,N
172943,1167619195,546700,117,20091120,F,PINEDA,NaN,ANAY,MADELLEIN,7610,...,NaN,NaN,B05,ALL,ACC,NaN,NaN,NaN,NaN,N
139496,1155046537,457032,315,20080821,F,KINBAR,NaN,ANNA,MARINA,11522,...,NaN,NaN,B05,ALL,ACC,NaN,NaN,NaN,NaN,N
682791,2135598754,1046657,117,20170324,F,REYNOLDS,NaN,MOLLY,ELIZABETH,6810,...,NaN,NaN,B05,ALL,ACC,CA1,NaN,NaN,NaN,N
510926,1061375412,840137,354,20141212,M,MCKINNEY,NaN,DAVID,WAYNE,4424,...,NaN,NaN,B05,ALL,ACC,CA8,NaN,NaN,NaN,N
472079,1208001902,787648,369,20140307,M,NOSKA,NaN,ZACHARY,DALE,2508,...,NaN,NaN,B10,ALL,ACC,NaN,NaN,NaN,NaN,N
672460,1136783793,1035102,245,20161208,F,VORHIES,NaN,JERRI,CATHRON,8600,...,NaN,NaN,B10,ALL,ACC,CA6,NaN,NaN,NaN,N

In [6]:
def timestamp_parser(n):
    # Specify the unit you need
    return pd.to_datetime(str(n), format='%Y%m%d')

df = pd.read_csv('VoterRegOpenData.csv', sep=',', header=0, parse_dates=['MCHGDT'], date_parser=timestamp_parser, index_col='MCHGDT')

ValueError: 'MCHGDT' is not in list

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
grouped_country = df.groupby(['Country'])

In [ ]:
grouped_country.size()

In [ ]:
grouped_country_city = df.groupby(['Country', 'City'])

In [ ]:
grouped_country_city.size()

In [ ]:
grouped = df.groupby(['first_octet','class_b','class_c'])

In [ ]:
grouped.size()

In [ ]:
def timestamp_parser(n):
    # Specify the unit you need
    return pd.to_datetime(float(n), unit='s')

dfa = pd.read_csv('krep.csv', sep=',', header=0, parse_dates=['Timestamp'], date_parser=timestamp_parser, index_col='Letter')

In [ ]:
dfa.head()

In [ ]:
dfa[['Number', 'Ping']].plot()

In [ ]:
dfa.describe

In [ ]:
grouped = df.groupby(['Letter','OrgAbuseEmail'])

In [ ]:
grouped.size()

In [ ]:
grouped.aggregate(np.sum)

In [ ]:
grouped = df.groupby('Letter')

In [ ]:
grouped.size()